# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# SWIG files
src/swig_wrapper.cpp
lib/contextsv.py

# Pycache
__pycache__/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/out
/deps
/build
/cmake-build-debug/
/cmake-build-debug-docker/

# IDE
/.idea
/.vs
/.vscode
*.code-workspace
CMakeSettings.json

# Shell scripts
*.sh

# Output folder
output/

# Doxygen
docs/html/

# Singularity images
*.sif

# Test directories
python/dbscan_tests
